# WK1 Pandas Basics <hr style = "border: 2.5px solid #126782"></hr>

Name: **Pia Mae D. Tolentino** <br>
Course and Section: **BSCpE-2A**

pandas - derived from **Panel Data**

import **pandas** and **numpy** library

In [60]:
import pandas as pd
import numpy as np

check the version of **pandas**

create a **list** named **employee_names**

In [61]:
employee_names = ['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro']
employee_names

['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro']

verify that the data type of <i>employee_names</i> object is a **list**

# Creating Series Object

## List to Series

create a **list** named **employee_names**

In [62]:
type (employee_names)

list

create **Pandas Series object** named **employee_names_Series** containing the elements from the <i>employee_names</i> list

In [63]:
employee_names_Series = pd.Series (employee_names)
employee_names_Series

0    Romano
1    Sandra
2      Abby
3      Jude
4       Pia
5    Jethro
dtype: object

verify  that the data type of <i>employee_names_Series</i> is a **pandas Series**

In [64]:
type (employee_names_Series)

pandas.core.series.Series

create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: **5, 8, 3, and 10**

In [65]:
work_experience_years = pd.Series([5, 8, 3, 10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

create a **NumPy Array** object named **array_age**

In [66]:
array_age = np.array([52, 51, 30, 20, 19, 15])
array_age

array([52, 51, 30, 20, 19, 15])

verify that the data type <i>array_age</i> object is a **NumPy array**

In [67]:
type (array_age)

numpy.ndarray

create a pandas_Series object named **series_age** from <i>array_age</i>

In [68]:
series_age = pd.Series(array_age)
series_age

0    52
1    51
2    30
3    20
4    19
5    15
dtype: int64

verify that the data type of *series_age* object is **Series**

In [69]:
type (series_age)

pandas.core.series.Series

use the **print()** function to display the content fo *series_age*

In [70]:
print (series_age)

0    52
1    51
2    30
3    20
4    19
5    15
dtype: int64

# pandas Attributes

create a **Pandas Series** object named **work_experience_years** containing the elements: 5, 8, 3, 10

In [71]:
work_experience_years = pd.Series([5, 8, 3, 10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

assign letters *a, b, c, and d* as **index** of the Series

In [72]:
work_experience_years = pd.Series([5, 8, 3, 10],
                                  index = ['a', 'b', 'c', 'd'])
work_experience_years

a     5
b     8
c     3
d    10
dtype: int64

check the **total number of elements** of  the <i>Series</i>

In [73]:
work_experience_years.size

4

verify that the data stored in the **Series** is an **Array**

In [74]:
work_experience_years.values

array([ 5,  8,  3, 10])

check the data type of the **elements** stored in the <i>Series</i>

In [75]:
work_experience_years.dtype

dtype('int64')

assign **Work Experience (Yrs.)** as a **name** of  the <i>Series</i>

In [76]:
work_experience_years.name = "Work Experience (Yrs.)"

display the **name** of <i>Series</i>

In [77]:
work_experience_years.name

'Work Experience (Yrs.)'

display the **Series** itself to see the **name** appear below the data values it contains

In [78]:
work_experience_years

a     5
b     8
c     3
d    10
Name: Work Experience (Yrs.), dtype: int64

# Creating a Series Object from a Dictionary

create a **dictionary** named **workers_age** with *names* of the employees as *keys*, and *age* as *values*

In [79]:
workers_age = {'Romano' :52,
               'Sandra' :51,
               'Abby' :30,
               'Jude':20,
               'Pia' :19,
               'Jethro' :15}
workers_age

{'Romano': 52, 'Sandra': 51, 'Abby': 30, 'Jude': 20, 'Pia': 19, 'Jethro': 15}

verify that the data type of *workers_age* object is a **dictionary**

In [80]:
type (workers_age)

dict

create a **pandas Series** from *workers_age*, giving it the same name - **workers_age**

In [81]:
workers_age = pd.Series(workers_age)
workers_age

Romano    52
Sandra    51
Abby      30
Jude      20
Pia       19
Jethro    15
dtype: int64

verify that the data type of *workers_age* object is **pandas Series**

In [82]:
type (workers_age)

pandas.core.series.Series

retrieve the **index** of *workers_age*

In [83]:
workers_age.index

Index(['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro'], dtype='object')

# pandas Methods

create a **pandas Series** named **employees_work_exp** from a *dictionary* with *names* of  the employees as *keys*, and *work experience* as *values*

In [84]:
employees_work_exp = pd.Series({
    'Romano' : 4,
    'Sandra': 2,
    'Abby' : 5,
    'Jude' : 1,
    'Pia' : 6,
    'Jethro' : 3
})

extract the **top five** values from this Series

In [85]:
employees_work_exp.head()

Romano    4
Sandra    2
Abby      5
Jude      1
Pia       6
dtype: int64

extract the **last five** rows from the Series

In [86]:
employees_work_exp.tail()

Sandra    2
Abby      5
Jude      1
Pia       6
Jethro    3
dtype: int64

retrieve the **first three** records of the object

In [87]:
employees_work_exp.head(3)

Romano    4
Sandra    2
Abby      5
dtype: int64

retrieve the **last four** records of the object

In [88]:
employees_work_exp.tail(4)

Abby      5
Jude      1
Pia       6
Jethro    3
dtype: int64

sort the Series by *work experience* in **ascending** order

In [89]:
employees_work_exp.sort_values()

Jude      1
Sandra    2
Jethro    3
Romano    4
Abby      5
Pia       6
dtype: int64

sort the Series by *work experience* in **descending** order

In [90]:
employees_work_exp.sort_values(ascending=False)

Pia       6
Abby      5
Romano    4
Jethro    3
Sandra    2
Jude      1
dtype: int64

sort the Series by **index** in from A-Z

In [91]:
employees_work_exp.sort_index()

Abby      5
Jethro    3
Jude      1
Pia       6
Romano    4
Sandra    2
dtype: int64

sort the Series by **index** in from Z-A

In [92]:
employees_work_exp.sort_index(ascending=False)

Sandra    2
Romano    4
Pia       6
Jude      1
Jethro    3
Abby      5
dtype: int64

# pandas DataFrames

create the given example **DataFrame**

Method 1

In [93]:
data = {
    "Name":['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro'], 
    "Age":[52, 51, 30, 20, 19, 15], 
    "Working Experience (Yrs.)":[5, 8, 3, 10, 9, 4]}
df = pd.DataFrame(data)
df

     Name  Age  Working Experience (Yrs.)
0  Romano   52                          5
1  Sandra   51                          8
2    Abby   30                          3
3    Jude   20                         10
4     Pia   19                          9
5  Jethro   15                          4

Method 2

In [94]:
name = ['Romano', 'Sandra', 'Abby', 'Jude', 'Pia', 'Jethro']
age = [52, 51, 30, 20, 19, 15]
work_exp = [5, 8, 3, 10, 9, 4]

df = pd.DataFrame({
    "Name":name,
    "Age":age,
    "Working Experience (Yrs.)":work_exp
})
df

     Name  Age  Working Experience (Yrs.)
0  Romano   52                          5
1  Sandra   51                          8
2    Abby   30                          3
3    Jude   20                         10
4     Pia   19                          9
5  Jethro   15                          4